@import 'tailwindcss';

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--luma-color-bg);
  color: var(--luma-color-text);
  font-family: var(--luma-font-sans);
}
